{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Change password{% endblock %}

{% block content %}
    Change Password
    <div class="row">
        <div class="col">
            {% if validlink %}
                <article class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </article>
            {% else %}
                <article class="card-body">
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                </article>
            {% endif %}
        </div>
    </div>
{% endblock content %}