{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    Reset password for user {{ object }}
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'account:change-password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock content %}