{% extends 'base.html' %}

{% block title %}Rate List{% endblock title %}


{% block content %}
<div>
    <table class="table">

        <thead class="table table-bordered table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Created</th>
            <th scope="col">Source</th>
            <th scope="col">Currency</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
        </tr>
        </thead>

        <tbody>
        {% for r in object_list %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.created }}</td>
            <td>{{ r.get_source_display }}</td>
            <td>{{ r.get_currency_type_display }}</td>
            <td>{{ r.amount }}</td>
            <td>{{ r.get_type_rate_display }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}