{% extends 'base.html' %}

{% load paginator %}

{% block title %}Rate List{% endblock title %}


{% block content %}
    <div>
        <a href="{% url 'rate:download-csv' %}">Download rates csv</a>
        <a href="{% url 'rate:download-xlsx' %}">Download rates xlsx</a>
        <table class="table">
            <thead class="table table-bordered table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Created</th>
                <th scope="col">Source</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>

                {% if request.user.is_authenticated %}
                    <th scope="col">Edit/Delete</th>
                {% endif %}

            </tr>
            </thead>

            <tbody>
            {% for r in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ r.created }} {{ is_paginated }}</td>
                    <td>{{ r.get_source_display|title }}</td>
                    <td>{{ r.get_currency_type_display }}</td>
                    <td>{{ r.amount }}</td>
                    <td>{{ r.get_type_rate_display|upper }}</td>

                    {% if request.user.is_authenticated %}
                        <td><a href="{% url 'rate:edit-rate' r.rate_id %}">Edit/Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            {% paginate page_obj %}
        {% endif %}

    </div>
{% endblock content %}